@media (max-width:500px) {
    .Image-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        align-items: center;
  }

    .images>img {
        width: 400px;
        height: 400px;
        object-fit: cover;
        opacity: 4;
        transition: .5s ease;
        margin: auto;
        align-items: center;
    }

    .middle {
        display: none;
    }
  
}